# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# IDE files
*.swp
*.idea/
*.vscode/

# OS files
.DS_Store
.cache/

# Environment variables / secrets
.env
.env.*
!.env.example
