<!DOCTYPE html>
<html>

<head>

<title>Edit Cafe</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='edit_cafe.css') }}">


</head>


<body>


<div class="header">

<h1>Edit Cafe Details</h1>

</div>



<div class="container">


<form method="POST" enctype="multipart/form-data">



<label>Name</label>

<input 
type="text"
name="name"
value="{{ cafe.name }}"
>



<label>Description</label>

<textarea name="description">{{ cafe.description }}</textarea>



<label>Location</label>

<input 
type="text"
name="location"
value="{{ cafe.location }}"
>

<div class="form-group">

    <label for="phone">
        Cafe Contact Number
    </label>

    <input
        type="tel"
        id="phone"
        name="phone"
        value="{{ cafe.phone or '' }}"
        placeholder="Enter cafe phone number"
        maxlength="30"
        required
    >

</div>

<label>Open Time</label>

<input 
type="text"
name="open_time"
value="{{ cafe.open_time }}"
>



<label>Close Time</label>

<input 
type="text"
name="close_time"
value="{{ cafe.close_time }}"
>

<label>Latitude</label>
<input 
type="text"
name="latitude"
value="{{ cafe.latitude }}">


<label>Longitude</label>
<input 
type="text"
name="longitude"
value="{{ cafe.longitude }}">



<h2>Existing Images</h2>


<div class="image-container">


{% for image in images %}

<div class="image-box">


<img 
src="{{ url_for('static', filename=image.image_path) }}"
>


<div class="remove">

<input 
type="checkbox"
name="delete_images"
value="{{ image.id }}"
>

Remove

</div>


</div>


{% endfor %}


</div>





<h2>Add New Images</h2>


<input 
type="file"
name="new_images"
multiple
accept="image/*"
>



<button type="submit">

Update Cafe

</button>


</form>


</div>


</body>

</html>
